.dashboard-title {
    font-size: 3rem;
    font-weight: 300;
}

.dashboard-left {
    width: var(--sidebar-width);
    height: calc(100% - var(--navbar-height));
    background: var(--sidebar-bg);
    position: fixed;
    top: var(--navbar-height);
    left: 0;
    box-sizing: border-box;
    border-right: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 30px 0;
}

.dashboard-icon {
    width: 35px;
    height: 35px;
    cursor: pointer;
    padding: 7px;
    background: var(--navbar-bg-light);
    border-radius: 3px;
}

.dashboard-right {
    padding-left: calc(var(--sidebar-width) + 30px);
}

.tracked-websites-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tracked-websites-list-outer {
    overflow-y: auto;
    max-height: calc(100vh - var(--navbar-height));
    scrollbar-color: #555 #1e1e1e;
    padding-right: 30px;
}

.tracked-website-element {
    padding: 10px 20px;
    background: var(--navbar-bg);
    border-radius: 3px;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    text-decoration: none;
    color: var(--text-color);
}
.tracked-website-element:hover {
    color: var(--text-color);
    background: var(--navbar-bg-light);
}

.tracked-website-title {
    width: 20%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tracked-website-url {
    width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tracked-website-date {
    white-space: nowrap;
}

.tracked-website-element-header {
    background: rgb(0,0,0,0);
}
.tracked-website-element-header:hover {
    background: rgb(0,0,0,0);
}

.tracked-websites-controls {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border);
}

.tracked-websites-search-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tracked-websites-search {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
    min-width: 400px;
    width: 40%;
    padding-left: 35px;
}

.tracked-websites-search-icon {
    position: absolute;
    height: 15px;
    width: 15px;
    left: 10px;
}

.tracked-websites-sortdir {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.create-tracked-website-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    background: var(--blue);
    gap: 5px;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 1.1rem;
}

.create-tracked-website-button-icon {
    height: 25px;
    width: 25px;
}

.create-tracked-website-page {
    padding-right: 30px;
    max-height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
    scrollbar-color: #555 #1e1e1e;
}

.create-tracked-website-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 50px;
}

.create-website-field {
    padding: 5px 10px;
    min-width: 400px;
    border-radius: 5px;
}

.label-field-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.label-required {
    font-size: 0.9rem;
    color: var(--text-grayer);
    margin-left: 5px;
}