.dashboard-title {
    font-size: 3rem;
    font-weight: 300;
}

.dashboard-left {
    width: var(--sidebar-width);
    height: calc(100% - var(--navbar-height));
    background: var(--sidebar-bg);
    position: fixed;
    top: var(--navbar-height);
    left: 0;
    box-sizing: border-box;
    border-right: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 30px 0;
}

.dashboard-icon {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.dashboard-right {
    padding-left: calc(var(--sidebar-width) + 30px);
    padding-right: 30px;
}

.tracked-websites-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tracked-website-element {
    padding: 10px 20px;
    background: var(--navbar-bg);
    border-radius: 3px;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.tracked-websites-controls {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border);
}

.tracked-websites-search {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
    min-width: 400px;
    width: 40%;
}

.tracked-websites-sortdir {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.tracked-website-created {
    margin-left: auto;
}