body {
  margin: 0;
  padding-top: var(--navbar-height);

  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  background: var(--bg);
  color: #e3e3e3;
  font-size: 1rem;
}

a {
  color: var(--blue);
}

.text-gray {
  color: var(--text-gray);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  background: var(--navbar-bg);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border);
}

.navbar-auth {
  margin-left: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.navbar-link {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  padding: 5px 10px;
  border-radius: 3px;
  background: var(--navbar-bg-light);
}

input {
  padding: 15px 10px;
  border: 1px solid var(--border);
  background: rgb(0,0,0,0);
  color: white;
  border-radius: 10px;
  font-size: 1rem;
  outline: hidden;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  outline: none;
}

input:focus {
  border: 1px solid var(--border-light);
}

input:-webkit-autofill {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

.account-form {
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}

.account-form-title {
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 50px;
}

.account-form-inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

button {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  cursor: pointer;
}

.account-form-button {
  border: none;
  border-radius: 3px;
  background: var(--blue);
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
}

.account-form-button:hover {
  background: var(--blue-dark);
}

.profile-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: var(--blue-light);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-size: 1.1rem;
  cursor: pointer;
  user-select: none;
}