body {
  margin: 0;
  padding-top: var(--navbar-height);

font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  background: var(--bg);
  color: #e3e3e3;
  letter-spacing: 1.3;
  font-size: 1rem;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  background: var(--navbar-bg);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.navbar-auth {
  margin-left: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.navbar-link {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  padding: 5px 10px;
  border-radius: 3px;
  background: var(--navbar-bg-light);
}