.notification {
    position: fixed;
    z-index: 10;
    padding: 5px 10px;
    background: var(--navbar-bg);
    border: 1px solid var(--border);
    border-radius: 3px;
    font-size: 1.1rem;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.notification img {
    width: 20px;
    height: 20px;
}