:root {
    --bg: rgb(9, 11, 15);
    --border: rgb(70, 70, 70);
    --border-light: rgb(100, 100, 100);
    --navbar-bg: rgb(15, 19, 26);
    --navbar-bg-light: rgb(22, 27, 36);
    --navbar-height: 60px;
    --blue: rgb(0, 132, 255);
    --blue-dark: rgb(0, 132, 255, 0.9);
    --blue-light: rgb(0, 162, 255);

    --sidebar-width: 75px;
    --sidebar-bg: rgb(15, 19, 26);
    --text-gray: rgb(200, 200, 200);
}